<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Test App</h1>
  <button type="button" class="btn btn-default navbar-btn"><a href="/">Home</a></button>
  <button type="button" class="btn btn-default navbar-btn"><a href="/signin">Sign in</a></button>
  <hr>
  <br>
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Welcome to the Test</h1>
        <h3>We're going to build a cool application using a MVC framework! This application was built with
          the Village88 folks!</h3>

          <button type="button" class="btn btn-info navbar-btn"><a href="/signin">Start</a></button>  
      </div>
      
    </div>




</body>
</html>