<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Test App</h1>
    <button type="button" class="btn btn-default navbar-btn"><a href="/">Home</a></button>
    <button type="button" class="btn btn-default navbar-btn"><a href="/signin">Sign in</a></button>
    <hr>
    <br>
    <h1>Registration</h1>
    <form action="/register" method="post">
        {% csrf_token %}
         First_name: <input type="text" name="first_name"><br><br>
         Last_name: <input type="text" name="last_name"><br><br>
         Email: <input type="text" name="email"><br><br>                        
         Password: <input type="text" name="password"><br><br>
         Confirm_password: <input type="text" name="con_pw"><br><br> 
         <input type="submit"  class="btn btn-success navbar-btn" value="Register">
    </form>

    <a href="/register">Already have an account? Login</a>

    <br>
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



</body>
</html>